<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./../static/styles.css">

</head>
<body>
    <div class="pages">
        <a href="/">Home</a>
        <a href="/query">Ask a Question</a>
    </div>
    <h1>About TheseusAI App !</h1>
    <p>This is a FastAPI application leveraging OpenAI's large language models to provide answers regarding your text file. It scans the text file, segmenting it into parts of no more than 500 tokens, halting at the final period "." before reaching the token limit, to maintain the integrity of the sentence context. The application then identifies the three most relevant segments containing the answer to your query, and subsequently formulates the response.</p>
    
</body>
</html>


